<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
   
     <%- body %>
    <script src="/javscripts/bootstrap.js"/>
    <script src="http://code.jquery.com/jquery-latest.js"/>
  </body>
</html>